<div class="container">
  <h3>Payment Form</h3>
  <div class="row mb-3">
    <div class="form--group col">
      <label>Payee Name</label>
      <input type="text" (input)="onNameChange($event)" class="form-control" />
    </div>
    <div class="col">
      <label><strong>Name</strong></label>
      <div>{{ name | titlecase }}</div>
    </div>
  </div>

  <div class="row mb-3">
    <div class="form--group col">
      <label>Payment Name</label>
      <input type="date" (input)="onDateChange($event)" class="form-control" />
    </div>
    <div class="col">
      <label><strong>Payment Date</strong></label>
      <div>{{ date | date: "dd MMMM, y" }}</div>
    </div>
  </div>

  <div class="row mb-3">
    <div class="form--group col">
      <label>Payment Amount</label>
      <input
        type="number"
        (input)="onAmountChange($event)"
        class="form-control"
      />
    </div>
    <div class="col">
      <label><strong>Payment Amount</strong></label>
      <div>{{ amount | currency: "INR" }}</div>
    </div>
  </div>

  <div class="row mb-3">
    <div class="form--group col">
      <label>Height</label>
      <input
        type="number"
        (input)="onHeightChange($event)"
        class="form-control"
      />
    </div>
    <div class="col">
      <label><strong>Height</strong></label>
      <div>{{ height | number: "1.0-2" }}</div>
    </div>
  </div>

  <div class="row mb-3">
    <div class="form--group col">
      <label>Length in Meter</label>
      <input
        type="number"
        (input)="onLengthChange($event)"
        class="form-control"
      />
    </div>
    <div class="col">
      <label><strong>Length in Centimeter</strong></label>
      <div>{{ lengthMeter | number: "1.0-2" }}</div>
    </div>
  </div>

  <div class="row mb-3">
    <div class="form--group col">
      <label>Miles</label>
      <input
        type="number"
        (input)="onMilesChange($event)"
        class="form-control"
      />
    </div>
    <div class="col">
      <label><strong>Kilometer</strong></label>
      <div>{{ miles | covertMiles: "km" }}</div>
    </div>
  </div>
</div>
